<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;">
        <h1>Informacion del proceso:</h1>
        <h2>Argumentos de entrada:</h2>
        <h3>{{args}}</h3>
        <h2>Nombre del SO</h2>
        <h3>{{nOS}}</h3>
        <h2>Version de NODE.js</h2>
        <h3>{{vNODE}}</h3>
        <h2>Memoria total reservada</h2>
        <h3>{{memUsage}}</h3>
        <h2>path de ejecucion</h2>
        <h3>{{exPath}}</h3>
        <h2>process id</h2>
        <h3>{{pid}}</h3>
        <h2>carpeta del proyecto</h2>
        <h3>{{file}}</h3>
        <h2>Numero de cpus</h2>
        <h3>{{numCPUs}}</h3>
    </div>
</div>